.vscode-dark  {
    --dni_file-solution-icon-background: #a074c4;
    --dni_file-cshtml-icon-background: #c586c0;
    --dni_file-code-icon-background: #519aba;
    --dni_file-type-script-icon-background: #37b38b;
    --dni_file-c-plus-plus-icon-background: #37b38b;
    --dni_file-css-icon-background: #e36a6e;
    --dni_file-directory-icon-background: #d7ab69;
    --dni_file-json-icon-background: #cbc638;
    --dni_file-project-dependencies-st2-fill: #fcfcfc;
    --dni_file-project-dependencies-st3-fill: #4e4e4e;
    --dni_file-project-icon-background: #88d184;
    --dni_file-razor-icon-background: #c586c0;
    --dni_file-solution-folder-icon-background: #058af0;
    --dni_file-txt-icon-background: #c4c4c4;
    --dni_file-wwwroot-icon-background: #c4c4c4;
    --dni_file-markdown-icon-background: #c4c4c4;
    --dni_file-readme-icon-background: #c4c4c4;
}

.vscode-light {
    --dni_file-solution-icon-background: #cf5bca;
    --dni_file-cshtml-icon-background: #45a156;
    --dni_file-code-icon-background: #1569d0;
    --dni_file-type-script-icon-background: #37b38b;
    --dni_file-c-plus-plus-icon-background: #37b38b;
    --dni_file-css-icon-background: #e6575b;
    --dni_file-directory-icon-background: #ab811f;
    --dni_file-json-icon-background: #ff8800;
    --dni_file-project-dependencies-st2-fill: #4e4e4e;
    --dni_file-project-dependencies-st3-fill: #fcfcfc;
    --dni_file-project-icon-background: #24bd1c;
    --dni_file-razor-icon-background: #972fed;
    --dni_file-solution-folder-icon-background: #058af0;
    --dni_file-txt-icon-background: #373737;
    --dni_file-wwwroot-icon-background: #858585;
    --dni_file-markdown-icon-background: #373737;
    --dni_file-readme-icon-background: #373737;
}

.dni_unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.dni_visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.dni_tree-view-title-expansion-chevron:hover {
    color: var(--vscode-button-foreground);
    background-color: var(--vscode-button-hoverBackground);
}

.dni_do-not-show-chevron .dni_tree-view-title-expansion-chevron:hover {
    color: transparent;
    background-color: transparent;
}

.dni_inline-flex {
    display: inline-flex;
    height: fit-content;
}
